/*
  Global
*/
body {
    background-color: #f2f2f2;
}

h1,h2,h3,h4,h5,h6,.nav-brand{
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

a{
  text-decoration: none !important;
}

/*
  Navbar
*/
.f-navlink, .s-navlink{
  text-decoration: none !important;
  letter-spacing: 1px;
  /*position: relative;*/
}

nav li .f-navlink:hover {
 color: #fdcc52 !important; 
}

#menubar nav a + a:before{
    content: " | ";
    padding: 0 10px;
}

/* Navbar effect left to right */

.underline {
  position: relative;
}
.underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: #fdcc52;
  height: 4px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

/* Navbar effect left to right */

.callout-warning {
  border-left: 4px solid #f0ad4e;
}

.callout-danger {
  border-left: 4px solid #d9534f;
}

.callout-info{
  border-left: 4px solid #5bc0de;
}

.bt-callout-secondary{
  border-left: 4px solid #6c757d;
}

.bt-callout-cyan{
  border-left: 4px solid #17a2b8;
}

.bt-callout-teal{
  border-left: 4px solid #20c997;
}

.bt-callout-green{
  border-left: 4px solid #28a745;
}

.bt-callout-gray-dark{
  border-left: 4px solid #343a40;
}

/*
  Back To Top
*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
}

/*
  Underline Left To Right
*/

/*.underline {
  position: relative;
}
.underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: #fdcc52;
  height: 4px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}*/

/*
  Callout
*/

.bd-callout {
    padding: 0.75rem;
    margin-top: 0.75rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem
}

.bd-callout h4 {
    margin-top: 0;
    margin-bottom: .25rem
}

.bd-callout p:last-child {
    margin-bottom: 0
}

.bd-callout code {
    border-radius: .25rem
}

.bd-callout+.bd-callout {
    margin-top: -.25rem
}

.bd-callout-info {
    border-left-color: #5bc0de
}

.bd-callout-info h4 {
    color: #5bc0de
}

.bd-callout-warning {
    border-left-color: #f0ad4e
}

.bd-callout-warning h4 {
    color: #f0ad4e
}

.bd-callout-danger {
    border-left-color: #d9534f
}

.bd-callout-danger h4 {
    color: #d9534f
}

/*
  visibal only sm xs md
*/

/* d-block d-sm-none d-none d-sm-block d-md-none d-md-block d-lg-none */

/*
  visibal only lg xl
*/

/* d-none d-lg-block d-xl-none d-xl-block */